.restuarant{
    text-align: center;
    background-color: rgb(85, 111, 138);
}

.imageStyle{
    padding-right: 30px;
      width:300px;
      height: 300px;
      border-image-width: 50px;
  }
  .container{
      width:50%;
      height: 50%;
      margin-left: 300px;
    
  }
  .restaurantName{
color: rgb(15, 34, 51);
  }
  .description{
color: bisque;
  }
  .location{
      color: rgb(15, 34, 51) ;
  }
  .checked {
    color: orange;
  }

  